<div class="create-form">
  <form #createForm="ngForm" (ngSubmit)="create()">
    <mat-toolbar-row class="toolbar">
      <h1 class="mat-typography">Add Recipe</h1>
    </mat-toolbar-row>
    <mat-card>
      <mat-form-field class="create-full-width">
        <input matInput ngModel name="iamge" id="image" placeholder="Image URL">
      </mat-form-field>
      <mat-form-field class="create-full-width">
        <input matInput ngModel name="title" id="title" placeholder="Title">
      </mat-form-field>
      <mat-form-field class="create-full-width">
        <input matInput ngModel name="ingredients" id="ingredients" placeholder="Ingredients">
      </mat-form-field>
      <mat-form-field class="create-full-width">
        <input matInput name="recipeText" id="recipeText" placeholder="Recipe">
      </mat-form-field>
      <mat-card-actions class="justify">
        <button type="submit" mat-button class="create">Add</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>