.card {
    max-width: 320px;
}

mat-card-subtitle {
    color: black;
}

mat-card {
    background-color: white;
    color: black;
}

button {
    color: white;
    background-color: #2e7d32;
}

.img {
    height: 300px;
}