<h1 class="latest mat-h1">Latest Recipes</h1>
<mat-divider></mat-divider>
<mat-grid-list cols="5" rowHeight="450px">
    <div *ngFor="let recipe of recipe$ | async">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="card">
                <img mat-card-image class="img" src="{{ recipe.image }}" alt="Photo of a cabbage">
                <mat-card-header>
                    <mat-card-title>{{ recipe.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-actions>
                    <a [routerLink]="['/details', recipe._id]" mat-button>Details</a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </div>
</mat-grid-list>