<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <h1>{{ recipe.title }}</h1>
    </mat-card-header>
    <img class="img" src="{{ recipe.image }}" alt="">
    <mat-card>
      <h2 class="center">Recipe</h2>
      <p><strong>Products needed: </strong>{{ recipe.ingredients }}</p>
      <p class="recipe">{{ recipe.recipeText }}</p>
      <p><strong>Date: </strong>{{ recipe.date }}</p>
      <p><strong>Creator: </strong>{{ recipe.creator }}</p>
    </mat-card>
  </mat-card>
</div>