<mat-grid-list cols="4" rowHeight="450px">
  <mat-grid-tile class="img" [colspan]="2" [rowspan]="1">
    <mat-card class="card">
      <img mat-card-image height="500px" src="{{ recipe.image }}" alt="Photo of a cabbage">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="content" [colspan]="2" [rowspan]="1">
    <mat-list>
      <mat-list-item>{{ recipe.title }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>{{ recipe.ingredients }}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="recipe">
      <p class="text">
        {{ recipe.recipeText }}
      </p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>