.login-form {
  margin: 5% auto 18%;
  width: 40%;
  padding: 10px;
  min-width: 150px;
  max-width: 500px;
}

@media(max-width:1200px) {
  .login-form {
    margin: 18% auto;
  }
}

.login-full-width {
  width: 100%;
}

.toolbar {
  justify-content: center;
  background-color: #2e7d32;
  color: white
}

.login {
  background-color: #2e7d32;
  color: white
}

.register {
  background-color: white;
  color: black;
}

h1 {
  font-size: 200%;
}

mat-card-actions {
  align-content: center;
  text-align: center;
}

p {
  text-align: center;
}