<div class="login-form">
  <form action="">
    <mat-toolbar-row class="toolbar">
      <h1 class="mat-typography">Login</h1>
    </mat-toolbar-row>
    <mat-card>
      <mat-form-field class="login-full-width">
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field class="login-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
      <mat-card-actions class="justify">
          <button type="submit" mat-button class="login">Login</button>
        </mat-card-actions>
        <p>Don't have an account? <button class="register" mat-button routerLink="/user/register">Register</button></p>
    </mat-card>
  </form>
</div>