<div class="register-form">
  <form action="">
    <mat-toolbar-row class="toolbar">
      <h1 class="mat-typography">Register</h1>
    </mat-toolbar-row>
    <mat-card>
      <mat-form-field class="register-full-width">
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field class="register-full-width">
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field class="register-full-width">
        <input matInput placeholder="Password">
      </mat-form-field>
      <mat-form-field class="register-full-width">
        <input matInput placeholder="Confirm Password">
      </mat-form-field>
      <mat-card-actions class="justify">
        <button type="submit" mat-button class="register">Register</button>
      </mat-card-actions>
      <p>Have an account? <button class="login" mat-button routerLink="/user/login">Login</button></p>
    </mat-card>
  </form>
</div>