<div class="register-form">
  <form #registerForm="ngForm" (ngSubmit)="signUp()">
    <mat-toolbar-row class="toolbar">
      <h1 class="mat-typography">Register</h1>
    </mat-toolbar-row>
    <mat-card>
      <mat-form-field class="register-full-width">
        <input matInput ngModel name="name" id="name" placeholder="Username">
      </mat-form-field>
      <mat-form-field class="register-full-width">
        <input matInput ngModel name="email" id="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field class="register-full-width">
        <input matInput ngModel name="password" id="password" type="password" placeholder="Password">
      </mat-form-field>
      <mat-form-field class="register-full-width">
        <input matInput type="password" placeholder="Confirm Password">
      </mat-form-field>
      <mat-card-actions class="justify">
        <button type="submit" mat-button class="register">Register</button>
      </mat-card-actions>
      <p>Have an account? <button class="login" mat-button routerLink="/user/login">Login</button></p>
    </mat-card>
  </form>
</div>