.register-form {
  margin: 5% auto;
  width: 40%;
  padding: 10px;
  min-width: 150px;
  max-width: 500px;
}

.register-full-width {
  width: 100%;
}

.toolbar {
  justify-content: center;
  background-color: #2e7d32;
  color: white
}

.register {
  background-color: #2e7d32;
  color: white;
}

.login{
  background-color: white;
  color: black;
}

h1 {
  font-size: 200%;
}

p {
  text-align: center;
}

mat-card-actions {
  align-content: center;
  text-align: center;
}