<mat-toolbar class="container">
  <div>
    <h1 class="mat-display-1">Mom's Cookbook</h1>
  </div>
  <div>
    <button mat-button class="user">
      @{{ user }}
    </button>
    <button mat-button routerLink="/">
      Home
    </button>
    <button mat-button routerLink="all/recipes">
      Recipes
    </button>
    <button *ngIf="authService.isAuthenticated()" mat-button routerLink="all/add">
      Add
    </button>
    <button *ngIf="!authService.isAuthenticated()" mat-button routerLink="user/login">
      Login
    </button>
    <button *ngIf="!authService.isAuthenticated()" mat-button routerLink="user/register">
      Register
    </button>
    <button *ngIf="authService.isAuthenticated()" (click)="logout()" mat-button routerLink="logout">
      Logout
    </button>
  </div>
</mat-toolbar>