<mat-toolbar class="container">
  <div>
    <h1 class="mat-display-1">Mom's Cookbook</h1>
  </div>
  <!-- <div>
    <button mat-button routerLink="/">
      Home
    </button>
    <button mat-button routerLink="all/recipes">
      Recipes
    </button>
    <button *ngIf="authService.isAuthenticated()" mat-button routerLink="all/add">
      Add
    </button>
    <button *ngIf="!authService.isAuthenticated()" mat-button routerLink="user/login">
      Login
    </button>
    <button *ngIf="!authService.isAuthenticated()" mat-button routerLink="user/register">
      Register
    </button>
    <button *ngIf="authService.isAuthenticated()" (click)="logout()" mat-button routerLink="logout">
      Logout
    </button>
  </div> -->
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item routerLink="/">
        <span>Home</span>
      </button>
      <button
        mat-menu-item
        *ngIf="authService.isAuthenticated()"
        routerLink="all/recipes"
      >
        <span>Recipes</span>
      </button>
      <button
        mat-menu-item
        *ngIf="authService.isAuthenticated()"
        routerLink="all/add"
      >
        <span>Add</span>
      </button>
      <button
        mat-menu-item
        *ngIf="!authService.isAuthenticated()"
        routerLink="user/login"
      >
        <span>Login</span>
      </button>
      <button
        mat-menu-item
        *ngIf="!authService.isAuthenticated()"
        routerLink="user/register"
      >
        <span>Register</span>
      </button>
      <button
        mat-menu-item
        *ngIf="authService.isAuthenticated()"
        (click)="logout()"
        routerLink="logout"
      >
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
